/* Style.css */
/* Programmé par Elaine Giguere */
/* Le 27 */

body
{
    background-color:lightgrey;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container
{
  margin-top:0.5rem;
}