/* Style.css */
/* Programmé par Elaine Giguere */
/* Le 2 juillet 2020 */

@font-face
{
    font-family: 'Playfair Display';
}

@font-face {
    font-family: 'Lora';
}
html,body
{
    margin:0; height:100%;
}
-->   /* Cellulaires
@media only screen and (max-width: 480px){
    .headerp1{
        background-image: url("../media/bbyoda.jpg");
        height: 400px;
}

    /* TABLETTES
@media screen and (min-width: 481px) and (max-width: 1199px) {
    .headerp1{
        background-image: url("../media/designertablette.jpeg");
        height: 600px;
}*/

.navbar
{
    background-color: rgba(2, 2, 2, 0.91);
    font-family: 'Lora' ;
    font-size: 1rem;
    color: #fff5e2;
}
.position-sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.fab{
    font-size: 1.5rem;
}

ul li a
{
    font-family: 'Lora';
    font-size: 1rem;
    color: #fff5e2;

}

.headerp1{
    /* L’image du Parallax */
    background-image: url("../media/cover.jpg");
    height: 700px;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerp2 {
    /* L’image du Parallax */
    background-image: url("../media/coverPortefolio.jpg");
    height: 700px;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerP3{
    /* L’image du Parallax */
    background-image: url("../media/nouvelles.jpg");
    height: 700px;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2p1 {
    background-image: url("../media/ginko.png");
}
.sec2p2 {
    background-image: url("../media/BgP2.jpg");
    color:#fff5e2;
}

.sec4p2{
    background-image: url("../media/ginko.png");
}
.pbeige{
    color:#fff5e2;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 8vw;
    color:#DBA057;
    text-align: left;
}

h2 {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 6vw;
    color:#DBA057;
}

h4{
    font-family: 'Lora';
    font-weight:bold;
    font-size: 1.5rem;
    color: #020202;
}

.titre1{
    Background-color: rgba(0, 0, 0, 0.63);
    margin-top:20rem;
}

.titre2{
    background-color:rgba(0, 0, 0, 0.63);
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
}

.titresec2p1{
    Background-color: black;
}


i{
    font-size: 5rem;
    padding-bottom: 1rem;
}
p{
    font-family:'Lora';
    font-weight: normal;
    color: black;
}
.titrep1sec3{
    padding-bottom: 2rem;
}

.footer{
    background-color: black;
}

.white{
    color:#fff5e2;
    margin:0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.small{
    size: 1rem;
}

.portfolio{
    background-image:url("../media/portefolioBaboche.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumbotron{
    background-image:url("../media/jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}

.hamburger{
    color:#fff5e2;
    font-size: 2rem;
}