/* Style.css */
/* Programmé par Elaine Giguere */
/* Le 28 oct 2020 */

/*font-family: 'Titillium Web', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

:root {
    --color-text-noir: #000000;
    --color-text-blanc: #ffffff;
    --color-bleu: #004cac;
    --color-rouge: #c21522;
    --color-vert: #47a01a;
    --color-gris: #67737a;

}

/*var(--color-zone);*/

@font-face {
    font-family: 'Titillium Web', sans-serif;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
}


.body {
    margin:0; height:100%;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

h1{
    font-family: 'Titillium Web', sans-serif;
    font-color: var(--color-text-blanc);
    font-size:4em;
    font-weight: 900;
    text-transform: uppercase;
}

.sectionHeader h2{
    font-family: 'Titillium Web', sans-serif;
    font-color: var(--color-text-blanc);
    font-size:2em;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-top: 10px;

}

.footer h2{
    font-family: 'Titillium Web', sans-serif;
    font-color: var(--color-text-blanc);
    font-size:2em;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 10px;
}

h2{
    font-family: 'Titillium Web', sans-serif;
    font-color: var(--color-text-blanc);
    font-size:3em;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 10px;
}

h3{
    font-family: 'Titillium Web', sans-serif;
    font-color: var(--color-text-noir);
    font-size:1.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

h4{ font-family: 'Titillium Web', sans-serif;
    font-color: var(--color-text-noir);
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;

}
h5{
    font-family: 'Titillium Web', sans-serif;
    font-color: var(--color-text-noir);
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;

}

p{
    font-family: 'Open Sans', sans-serif;
    font-color: var(--color-text-noir);
    font-size:1em;
    font-weight: 100;

}


/* Navigation principale */

.navbar{
    width: 100%;
    background-color: var(--color-rouge);
    overflow: auto;
    justify-content: flex-start;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;

}

li a {
    float: left;
    padding: 10px;
    color: var(--color-text-blanc);
    text-decoration: none;
    font-size: 1em;
}

/*fin navigation*/

/*header*/

.header-bg{
    background-image: url("../media/depositphotos_21832931@2x.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;

}


.header-contact{
    background-image: url("../media/depositphotos_21832931@2x.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.multiply{

}

.header h1{
    font-size: 6em;
    margin-top: 2em;
    padding: 0.5em;
    background-color:var(--color-rouge);
    mix-blend-mode: multiply;
}

.mainLogo{
    max-width: 70%;
    z-index: 3;
    margin-left: 100px;
    margin-top: 70px;
}

.bgSemiWhite{
    background-color: rgba(255, 255, 255, 0.51);
    background-size: cover;
    height: 800px;
}


.sectionHeader h2{
    text-align: left;
    padding-left: 20px;
    color: var(--color-text-blanc);

}


.sectionHeader{
    margin-left:0px;
    margin-top: 50px;
    padding-right:60px;

}

.logoHeaderSmall{
    align-content: center;
    margin-top:30px;
    margin-bottom: 10px;
    max-width: 80%;
    height: auto;


}

.demolition {
    float: right;
    margin-top:20px;
    padding:50px;
    background-color: var(--color-bleu);
    mix-blend-mode: multiply;

}

.rhinobac {
    float: right;
    margin-top:20px;
    padding:50px;
    background-color: var(--color-rouge);
    mix-blend-mode: multiply;
}
.conteneur {
    float: right;
    margin-top: 20px;
    padding:50px;
    background-color: var(--color-vert);
    mix-blend-mode: multiply;
}

.rhinofabric {
    float: right;
    margin-top:20px;
    padding:50px;
    background-color: var(--color-gris);
    mix-blend-mode: multiply;
}

/* FIN header*/

/*Main 1*/


.contentSec1{
    background-image: url("../media/Groupe_Projet_1Specialiste.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.contentSec2{
    background-image: url("../media/Groupe_Projet_2ExpertConteneur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.contentSec3{
    background-image: url("../media/Groupe_Projet_3Partenaire.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.contentSec4{
    background-image: url("../media/Groupe_Projet_4ConteursMesure.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.bgGroupeProjet{
    background-image: url("../media/bgGroupeProjet3.jpg");
    background-color: #cccccc;
    background-repeat: repeat;
    /*background-size: cover;*/
    /*width:100%;*/
    /*height: 2000px;*/
}

.bkg-white {
    background-color: #ffffff;
    padding: 40px;
    margin-top: -100px;
    border-top: 5px solid #c21522;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    margin-bottom: 40px;
}
/*Main 1*/


/*Main 2*/
.section2{
    background-image: url("../media/Groupe_Projet_Section2.png");
    background-repeat: no-repeat;
    background-position:right center;

}

.bgRouge {
    background: var(--color-rouge);
}

.bgRed {
    background: var(--color-rouge);
    mix-blend-mode: multiply;
    margin-left:100px;
    width: 1000px;
    z-index:3;
}

.bgRed::before {
    content: url("../media/Groupe_Projet_rhinoBlanc.png");
}

.bgBlack{
    background-color:black;
}

.white-line{
    border-top: 2px #ffffff;
    color:white;
    z-index:4;
}

input#email {
    color: gray;
    font-size: 3em;
    font-family: 'Titillium Web';
    font-weight: 900;
    background-color: black;
    border-width: 2px;
    border-style: inset;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: inset;
    border-left-style: none;
    border-bottom-color: gray;
    border-image: initial;
}

.btnSub {

    margin: 0;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #c50208;
    font-size: 1em;
    font-family: 'Titillium Web';
    line-height: inherit;
    background-color: black;
    border-width: 1px;
    border-style: inset;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;
    border-color: #c50208;
    border-image: initial;
}



/*Page bleu*/

.mainImage{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

}
#mainImage1{
    background-image: url("../media/ImagesDemolition/GroupeProjetMAinImage1.jpg");
}
#mainImage2{
    background-image: url("../media/ImagesDemolition/GroupeProjetMAinImage2.jpg");
}

#mainImage3{
    background-image: url("../media/ImagesDemolition/GroupeProjetMAinImage3.jpg");
}
#mainImage4{
    background-image: url("../media/ImagesDemolition/GroupeProjetMAinImage4.jpg");
}

#mainImage1{
    background-image: url("../media/ImagesDemolition/GroupeProjetMAinImage1.jpg");
}

#mainImage1{
    background-image: url("../media/ImagesDemolition/GroupeProjetMAinImage1.jpg");
}
.topContainer{
    background-image: url("../media/GroupeProjetTopContainer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.afterMainImage{
    margin-top: 200px;
}

hr.ligneBleu {
    color: var(--color-bleu);

}
.carre::before{
    content: url("../media/ImagesDemolition/carreBleu.svg");
    padding:5px;
    margin-top:10px;
}

.marginNegatif{
    margin-top: -100px;
    margin-bottom: 50px;
}

/*Nous joindre*/
.logoContact{
    width: 50%;
    height: auto;
    padding: 1em;
}

form{
    padding:1em;
    background-color: rgb(0 0 0 / 8%);
    border-radius: 3px;
}


.row.pt-3.choix{
    padding-bottom: 1em;
}

/*Réalisation*/

.imgReal{
    margin-top: 1em;

}

.real{
    font-weight: 900;
    color: var(--color-rouge)
}

.myButton {
    box-shadow:inset 0px 1px 12px -10px #fe1900;
    background:linear-gradient(to bottom, #d61200 5%, #bf0707 100%);
    background-color:#d61200;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:"Titillium Web";
    font-size:1rem;
    font-weight:bold;
    padding:10px 18px;
    text-decoration:none;
    text-shadow:0px 0px 0px #b23e35;
}
.myButton:hover {
    background:linear-gradient(to bottom, #bf0707 5%, #d61200 100%);
    background-color:#bf0707;
}
.myButton:active {
    position:relative;
    top:1px;
}

.box-shadow{
    -webkit-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.68);
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.68);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.imgReal{
    margin-top: 1em;
}

.pyramide{

}



/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {

    .bgRed {
        background: var(--color-rouge);
        mix-blend-mode: multiply;
        margin-left:100px;
        width: 1000px;
        z-index:3;
    }

}


/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {

    .bgRed {
        background: var(--color-rouge);
        mix-blend-mode: multiply;
        margin-left:0px;
        width: 600px;
        z-index:3;
    }

    .mainLogo{
        display:none;
    }


}


/* Medium devices (landscape tablets, 720px and down) */
@media only screen and (max-width: 720px) {

    .bgRed {
        background: var(--color-rouge);
        mix-blend-mode: multiply;
        margin-left:0px;
        width: 600px;
        z-index:3;
    }

    .marginNegatif{
        margin-top:0px;
    }
    .mainLogo{
        display:none;
    }

    .logoHeaderSmall {
        align-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left:20px;
        max-width: 50%;
        height: auto;
    }
    .header-left{
        display: none;
    }
}


/* Small devices (landscape tablets, 480px and down) */
@media only screen and (max-width: 480px){

    h1{
        font-size: 2rem;
    }

    .marginNegatif{
        margin-top:0px;
    }

    .mainLogo{
        display:none;
    }

    .bgRed {
        background: var(--color-rouge);
        mix-blend-mode: multiply;
        margin-left:0px;
        width: 350px;
        z-index:3;
    }

    .header-left{
        display: none;
    }

    .logoHeaderSmall {
     display:none;
    }


    .demolition {
        float: right;
        margin-top:10px;
        padding:10px;
        background-color: var(--color-bleu);
        mix-blend-mode: multiply;

    }

    .rhinobac {
        float: right;
        margin-top:10px;
        padding:10px;
        background-color: var(--color-rouge);
        mix-blend-mode: multiply;
    }
    .conteneur {
        float: right;
        margin-top: 10px;
        padding: 10px;
        background-color: var(--color-vert);
        mix-blend-mode: multiply;
    }

    .rhinofabric {
        float: right;
        margin-top: 10px;
        padding: 10px;
        background-color: var(--color-gris);
        mix-blend-mode: multiply;
    }

    .sectionHeader h2{
        font-family: 'Titillium Web', sans-serif;
        font-color: var(--color-text-blanc);
        font-size:1.5em;
        font-weight: 900;
        text-transform: uppercase;
        padding-bottom: 0px;

    }

    h2{
        font-family: 'Titillium Web', sans-serif;
        font-color: var(--color-text-blanc);
        font-size:2em;
        font-weight: 900;
        text-transform: uppercase;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .header-bg{
        background-image: url("../media/depositphotos_21832931@2x.jpg");
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;

    }


}







