/* TestCSS.css */
/* Programmé par Elaine Giguere */
/* Le 29 avril 2020 */

@font-face {
    font-family:belisha;
    src: url(../fonts/belisha.ttf);
}
#Sectionetudes
{Background-color: #b791ff;}

#Sectionloisirs
{Background-color: #96d7ff;}

#Sectionsports
{Background-color: #ffdaa1;}

.belleImage
{
    border: 1px solid #ddd;
    border-radius: 4px;
}

.belleImage-hover
{
   box-shadow: 5px 10px #888888;
}

.belisha
{
    font-family:belisha;
    font-size: 4rem;
}


.section1
{
    margin-top: 300px;
    margin-bottom: 300px;
}